{% extends 'base.html.twig' %}

{% block title %}Prospects{% endblock %}

{% block body %}
<h1>Liste des prospects</h1>
<!-- Ajoutez ici le contenu pour afficher la liste des prospects -->
{% endblock %}
