<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CRM{% endblock %}</title>
    {% block stylesheets %}
    <!-- Ajoutez ici vos fichiers CSS -->
    {% endblock %}
</head>
<body>
    <header>
        <!-- Ajoutez ici le contenu de l'en-tête -->
    </header>

    <main>
        {% block body %}{% endblock %}
    </main>

    <footer>
        <!-- Ajoutez ici le contenu du pied de page -->
    </footer>

    {% block javascripts %}
    <!-- Ajoutez ici vos fichiers JavaScript -->
    {% endblock %}
</body>
</html>
