{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}
<h1>Gestion des utilisateurs</h1>
<!-- Ajoutez ici le contenu de la gestion des utilisateurs -->
{% endblock %}
